username: user
password: password
host: mysql
port: 3306
database: db
mode : dev # dev or test 
TestUsername: root
TestPassword: password_for_testdb
TestHost: mysqlTest
TestPort: 3307
TestDatabase: testdb
