# 內含dsn隱密資訊
# 格式：DBname    UserName   PassWord     HostName     PortNumber 
dsn_config.txt
# 測試檔案
test.ts
```
# unecessary files
views
dist/
package-lock.json
pkg/mod/
node_modules/
FakeLaneInfo.json
go.mod
go.sum
go.work
go.work.sum