# 內含dsn隱密資訊
# 格式：DBname    UserName   PassWord     HostName     PortNumber 
dsn_config.txt
test_dsn_config.txt
# 測試檔案
test.ts
```
# unecessary files
views
.DS_Store
pkg/mod/
node_modules/
package-lock.json
dist/