name: nycu-archery-system

services:
  frontend:
    build:
      context: ./frontend_scoring
      dockerfile: Dockerfile.dev
    restart: always
    develop:
      watch:
        - action: sync
          path: ./frontend_scoring
          target: /app
          ignore:
            - .git
            - node_modules/
            - .next/
  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: testdb
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    restart: always
  backend:
    build: ./backend
    restart: always
    depends_on:
      - mysql
  reverse-proxy:
    build: ./reverse-proxy
    restart: always
    ports:
      - 80:80
    depends_on:
      - frontend
      - backend
