.participants_board {
  display: flex;

  @mixin list {
    border: 1px solid $gray-main-color;
    border-radius: 5px;
    padding: 0px;
  }
  @mixin list_item {
    align-items: center;
    border-bottom: 1px solid $gray-main-color;
    &:last-child {
      border-bottom: none;
    }
  }
  @mixin list_item_button {
    width: 10px;
    height: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @mixin list_item_accept_button {
    @include list_item_button;
    background-color: $confirm_color;
    color: $main_text_color;
  }
  @mixin list_item_deny_button {
    @include list_item_button;
    background-color: $delete_color;
    color: $main_text_color;
  }
  @mixin list_item_delete_button {
    @include list_item_button;
    background-color: $delete_color;
    color: $main_text_color;
  }
  .applications_block {
    display: flex;
    width: 40%;
    .admin_list {
      width: 50%;
      @include list;
      .admin_item {
        @include list_item;
        .admin_item_confirm_button {
          @include list_item_accept_button;
        }
        .admin_item_delete_button {
          @include list_item_deny_button;
        }
      }
    }
    .player_list {
      width: 50%;
      @include list;
      .player_item {
        @include list_item;
        .player_item_confirm_button {
          @include list_item_accept_button;
        }
        .player_item_delete_button {
          @include list_item_deny_button;
        }
      }
    }
  }

  .user_block {
    width: 40%;
    display: flex;
    .admin_list {
      width: 50%;
      @include list;
      .admin_item {
        @include list_item;
        .admin_item_delete_button {
          @include list_item_delete_button;
        }
      }
    }
    .player_list {
      width: 50%;
      @include list;
      .player_item {
        @include list_item;
        .player_item_delete_button {
          @include list_item_delete_button;
        }
      }
    }
  }
}
