@import "variable";
@import "EliminationBoard";
@import "./Screen/Screen.scss";
@import "QualificationBoard.scss";

body {
  margin: 0px;
}

.score_board {
  max-width: $main_board_max_width;
  margin: 50px auto 0px;
}
