@import "variable";
@import "./Screen/Screen.scss";
@import "./ScoreBoard/ScoreBoard.scss";
@import "RecordingBoard";
@import "Global";

body {
  margin: 0px;
  font-family: "Roboto", '"Helvetica Neue"', "Arial";
}

.score_board {
  max-width: $main_board_max_width;
  margin: 50px auto 0px;
}
