.scoreboard_row {
  display: grid;
  grid-template-columns: 10% 10% 20% 50% 10%;
  grid-template-rows: auto;
}

.qualification_board {
  text-align: center;
}

.ranking_info_bar {
  background-color: $light-main-color;

  &.qualified {
    $qualified-color: $light-main-color;
    background-color: $qualified-color;
    &:nth-child(4n-3),
    &:nth-child(4n -4) {
      background-color: darken($qualified-color, 10%);
    }
    &:hover {
      background-color: lighten($qualified-color, 7%);
    }
  }
  &.unqualified {
    $unqualified-color: $gray-main-color;
    background-color: $unqualified-color;
    &:nth-child(4n-3),
    &:nth-child(4n -4) {
      background-color: darken($unqualified-color, 10%);
    }
    &:hover {
      background-color: lighten($unqualified-color, 7%);
    }
  }
}
