.recording_board {
  margin: 1px auto 0px;
  max-width: 400px;

  & > .lane_board > .lane_number {
    width: 100%;
    height: 30px;
    color: white;
    background-color: $main-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & > .lane_board > .MuiToggleButtonGroup-root > .MuiButtonBase-root {
    > .player_info_bar {
      > .score_bar {
        width: 100%;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        > .score_block {
          $diameter: 25px;
          width: $diameter;
          height: $diameter;
          margin: calc($diameter/5) 0px calc($diameter/5) 0px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
