$main-color: #2056cc;
$sub-color: #1448b8;
$main_board_max_width: 400px;

$light-main-color: #b6cdff;
$gray-main-color: #d5d7dc;

$yellow-score-background-color: #f5ed04;
$yellow-score-color: black;
$red-score-background-color: #dc262c;
$red-score-color: white;
$blue-score-background-color: #04aaea;
$blue-score-color: white;
$black-score-background-color: black;
$black-score-color: white;
$white-score-background-color: white;
$white-score-color: black;
$miss-score-background-color: black;
$miss-score-color: white;


$confirmed-color: #1bdc1b;
$unconfirmed-color: #dc1b1b;
