

.hidden{
    max-height: 0px;
    overflow: hidden;
}
/*Screen*/

.top_bar{
    display: flex;
    width: 100%;
    height: 150px;
    background-color:#2056cc;
    color : #ffffff;
    font-family: DFKai-SB;
    align-items: center;
    justify-content: center;
    
}

.game_title{
    text-align: center;
}

.game_main_title{
    font-size: 50px;
}

.game_subtitle{
    font-size: 20px;
}

.sub_game_bar{
    width: 100%;
    height: 40px;
    display: flex;
    background-color:#2056cc ;
    color : #ffffff;

}
.group_list{
    margin-left: auto;
}
.phase_list{
    margin-right: auto;
}

.sub_game_bar_list{
    width: 200px;
    padding: 0px;
    z-index: 1;
}

.sub_game_bar_list_button{
    width: 200px;
    height: 40px;
    border: 0px;
    color: #ffffff;
    background-color: #1448b8;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.sub_game_bar_list_button:active{
    background-color: #103890;
}

.group_list_item{
    width: auto;
    height: 40px;
    border-top: 1px solid #ffffff;
    background-color: #1448b8;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    transition: 0.3s;
}

.phase_list_item{
    width: auto;
    height: 40px;
    border-top: 1px solid #ffffff;
    background-color: #1448b8;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    transition: 0.3s;
}


.group_list_item:hover{
    background-color: #103890;
}
.phase_list_item:hover{
    background-color: #103890;
}

.bottom_bar{
    width: 100%;
    height: 40px;
    background-color: #2056cc;
    position: fixed;
    bottom:0px;
}

/*Qualifying phase*/

.scoreboard_row{
    display: grid;
    grid-template-columns: 10% 10% 20% 50% 10%;
    grid-template-rows: auto;
}

.qualifying_phase_board{
    width: 600px;
    height: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.scoreboard{
    text-align: center;
}

.ranking_info_bar{
    background-color: #b6cdff;
}