basePath: /api/
definitions:
  response.AllCompInfoResponse:
    properties:
      competitions:
        items:
          $ref: '#/definitions/response.Competition'
        type: array
      result:
        example: success
        type: string
    type: object
  response.CompInfoResponse:
    properties:
      date:
        example: "2006-01-02T15:04:05+08:00"
        type: string
      groups:
        items:
          $ref: '#/definitions/response.Group'
        type: array
      hostID:
        example: "87"
        type: string
      name:
        example: competition name
        type: string
      overview:
        example: overview
        type: string
      participants:
        example: '[1, 2, 3, 87]'
        type: string
      result:
        example: success
        type: string
      scoreboardURL:
        example: Scoreboard URL
        type: string
    type: object
  response.CompResponse:
    properties:
      compID:
        example: 87
        type: integer
      result:
        example: result description
        type: string
    type: object
  response.Competition:
    properties:
      date:
        example: "2006-01-02T15:04:05+08:00"
        type: string
      hostID:
        example: "87"
        type: string
      name:
        example: competition name
        type: string
      overview:
        example: overview
        type: string
      scoreboardURL:
        example: Scoreboard URL
        type: string
    type: object
  response.Group:
    properties:
      bowType:
        example: bow type
        type: string
      competition_id:
        example: 87
        type: integer
      gameRange:
        example: 50
        type: integer
      groupName:
        example: group name
        type: string
      id:
        example: 87
        type: integer
    type: object
  response.Response:
    properties:
      result:
        example: result description
        type: string
    type: object
  response.UIDResponse:
    properties:
      uid:
        example: your uid
        type: string
    type: object
  response.UserInfoResponse:
    properties:
      email:
        example: user email
        type: string
      institutionID:
        example: user institution id
        type: string
      name:
        example: user name
        type: string
      overview:
        example: user overview
        type: string
      result:
        example: success
        type: string
    type: object
host: localhost:8080
info:
  contact:
    email: ???
    name: NYCU archery
    url: https://github.com/NYCUarchery
  description: A gin server
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: Archery backend API
  version: "1.0"
paths:
  /competition:
    get:
      description: get id, name, date, hostID, scoreboardURL, and overview only
      produces:
      - application/json
      responses:
        "200":
          description: success
          schema:
            $ref: '#/definitions/response.AllCompInfoResponse'
      summary: get information of all the competitions
      tags:
      - competition
    post:
      consumes:
      - application/json
      description: create a competition and set the person as the host
      parameters:
      - description: competition name
        in: formData
        name: name
        required: true
        type: string
      - description: date
        in: formData
        name: date
        required: true
        type: string
      - description: a list of groups
        in: formData
        name: groups
        required: true
        type: string
      - description: overview
        in: formData
        name: overview
        type: string
      - description: Scoreboard URL
        in: formData
        name: scoreboardURL
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: success
          schema:
            $ref: '#/definitions/response.CompResponse'
        "400":
          description: competition name exists | cannot parse date string | invalid
            info/groups
          schema:
            $ref: '#/definitions/response.Response'
        "500":
          description: DB error
          schema:
            $ref: '#/definitions/response.Response'
      summary: create a competition
      tags:
      - competition
  /competition/{id}:
    get:
      description: get info, groups, participants of the competition
      parameters:
      - description: competition id
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: success
          schema:
            $ref: '#/definitions/response.CompInfoResponse'
        "400":
          description: empty/invalid competition id
          schema:
            $ref: '#/definitions/response.Response'
        "404":
          description: no competition found
          schema:
            $ref: '#/definitions/response.Response'
      summary: get information of the competition
      tags:
      - competition
  /participant/:
    post:
      consumes:
      - application/json
      description: add a particpant to the competition
      parameters:
      - description: competition id
        in: formData
        name: competitionID
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: success
          schema:
            $ref: '#/definitions/response.Response'
        "400":
          description: no user/competition found
          schema:
            $ref: '#/definitions/response.Response'
      summary: join in a competition
      tags:
      - participant
  /session:
    delete:
      description: delete the session
      produces:
      - application/json
      responses:
        "200":
          description: success
          schema:
            $ref: '#/definitions/response.Response'
      summary: logout
      tags:
      - session
    post:
      consumes:
      - application/json
      description: get a session
      parameters:
      - description: user's name
        in: formData
        name: username
        required: true
        type: string
      - description: password
        in: formData
        name: password
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: success | has loginned
          schema:
            $ref: '#/definitions/response.Response'
        "401":
          description: wrong username or password
          schema:
            $ref: '#/definitions/response.Response'
      summary: login
      tags:
      - session
  /user:
    post:
      consumes:
      - application/json
      description: add a user to db
      parameters:
      - description: user's name
        in: formData
        name: username
        required: true
        type: string
      - description: password
        in: formData
        name: password
        required: true
        type: string
      - description: email
        in: formData
        name: email
        required: true
        type: string
      - description: overview
        in: formData
        name: overview
        type: string
      - description: institution ID
        in: formData
        name: institutionID
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: success
          schema:
            $ref: '#/definitions/response.Response'
        "400":
          description: username/email exists | empty username/password/email | invalid
            info
          schema:
            $ref: '#/definitions/response.Response'
        "500":
          description: db error
          schema:
            $ref: '#/definitions/response.Response'
      summary: register a user
      tags:
      - user
  /user/{id}:
    get:
      consumes:
      - application/json
      description: get a user's username, overview, and institution id
      parameters:
      - description: user's id
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: success
          schema:
            $ref: '#/definitions/response.UserInfoResponse'
        "400":
          description: empty/invalid user id
          schema:
            $ref: '#/definitions/response.Response'
        "404":
          description: no user found
          schema:
            $ref: '#/definitions/response.Response'
      summary: get a user's information
      tags:
      - user
    put:
      consumes:
      - application/json
      description: modify username, password, overview, and institution_id
      parameters:
      - description: user's id
        in: path
        name: id
        required: true
        type: string
      - description: original password
        in: formData
        name: oriPassword
        required: true
        type: string
      - description: modified password
        in: formData
        name: modPassword
        type: string
      - description: modified email
        in: formData
        name: email
        type: string
      - description: modified overview
        in: formData
        name: overview
        type: string
      - description: modified institution ID
        in: formData
        name: institutionID
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: success
          schema:
            $ref: '#/definitions/response.Response'
        "400":
          description: empty/invalid user id | invalid modified information
          schema:
            $ref: '#/definitions/response.Response'
        "403":
          description: cannot change other's info | wrong original password
          schema:
            $ref: '#/definitions/response.Response'
      summary: modify user's information
      tags:
      - user
  /user/me:
    get:
      description: get my uid in the session
      produces:
      - application/json
      responses:
        "200":
          description: success
          schema:
            $ref: '#/definitions/response.UIDResponse'
      summary: get my uid
      tags:
      - user
swagger: "2.0"
