host: localhost:8080
info:
  contact:
    name: NYCUArchery
    url: https://github.com/NYCUarchery
  description: Gin swagger
  license:
    name: no license yet
  title: Gin swagger
  version: "1.0"
paths:
  /data/competition:
    post:
      consumes:
      - application/json
      description: Post one new Competition data with new id, and return the new Competition
        data
      parameters:
      - description: Competition
        in: body
        name: Competition
        required: true
        schema:
          type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
      summary: Create one Competition
      tags:
      - Competition
  /data/competition/{id}:
    delete:
      consumes:
      - application/json
      description: delete one Competition by id
      parameters:
      - description: Competition ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
        "404":
          description: Not Found
          schema:
            type: string
      summary: delete one Competition
      tags:
      - Competition
    get:
      description: Get one Competition by id without GroupInfo
      parameters:
      - description: Competition ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
      summary: Show one Competition without GroupInfo
      tags:
      - Competition
  /data/competition/groups/{id}:
    get:
      description: Get one Competition by id with GroupInfos
      parameters:
      - description: Competition ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
      summary: Show one Competition with GroupInfos
      tags:
      - Competition
  /data/competition/whole/{id}:
    put:
      consumes:
      - application/json
      description: Put whole new Competition and overwrite with the id but without
        GroupInfo
      parameters:
      - description: Competition ID
        in: path
        name: id
        required: true
        type: string
      - description: Competition
        in: body
        name: Competition
        required: true
        schema:
          type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
        "404":
          description: Not Found
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: update one Competition without GroupInfo
      tags:
      - Competition
  /data/groupinfo:
    post:
      consumes:
      - application/json
      description: Post one new GroupInfo data with new id, create qualification with
        same id, and return the new GroupInfo data
      parameters:
      - description: LaneData
        in: body
        name: GroupInfo
        required: true
        schema:
          type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
      summary: Create one GroupInfo
      tags:
      - GroupInfo
  /data/groupinfo/{id}:
    delete:
      consumes:
      - application/json
      description: delete one GroupInfo by id, and delete qualification with same
        id
      parameters:
      - description: GroupInfo ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
        "404":
          description: Not Found
          schema:
            type: string
      summary: delete one GroupInfo
      tags:
      - GroupInfo
    get:
      description: Get one GroupInfo by id
      parameters:
      - description: LaneInfo ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
      summary: Show one GroupInfo
      tags:
      - GroupInfo
  /data/groupinfo/reorder:
    put:
      consumes:
      - application/json
      description: Put competition_id and group_ids to update GroupInfos Indexes under
        the same Competition
      parameters:
      - description: GroupInfo IDs for reorder
        in: body
        name: groupIdsForReorder
        required: true
        schema:
          type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
        "404":
          description: Not Found
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: update GroupInfos Indexes under the same Competition
      tags:
      - GroupInfo
  /data/groupinfo/whole/{id}:
    put:
      consumes:
      - application/json
      description: Put whole new GroupInfo and overwrite with the id
      parameters:
      - description: GroupInfo ID
        in: path
        name: id
        required: true
        type: string
      - description: GroupInfo
        in: body
        name: GroupInfo
        required: true
        schema:
          type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
        "404":
          description: Not Found
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: update one GroupInfo
      tags:
      - GroupInfo
  /data/oldlaneinfo:
    post:
      consumes:
      - application/json
      description: Post one new OldLaneInfo data with new id, and return the new OldLaneInfo
        data
      parameters:
      - description: LaneData
        in: body
        name: LaneData
        required: true
        schema:
          type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
      summary: Create one OldLaneInfo
      tags:
      - OldLaneInfo
  /data/oldlaneinfo/{id}:
    delete:
      consumes:
      - application/json
      description: delete one OldLaneInfo by id
      parameters:
      - description: OldLaneInfo ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
        "404":
          description: Not Found
          schema:
            type: string
      summary: delete one OldLaneInfo
      tags:
      - OldLaneInfo
    get:
      description: Get one OldLaneInfo by id
      parameters:
      - description: OldLaneInfo ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
      summary: Show one OldLaneInfo
      tags:
      - OldLaneInfo
  /data/oldlaneinfo/confirm/{id}/{stageindex}/{userindex}/{confirm}:
    put:
      consumes:
      - application/json
      description: Put one OldLaneInfo confirm by index and id
      parameters:
      - description: OldLaneInfo ID
        in: path
        name: id
        required: true
        type: string
      - description: OldLaneInfo stage index
        in: path
        name: stageindex
        required: true
        type: string
      - description: OldLaneInfo user index of the stage
        in: path
        name: userindex
        required: true
        type: string
      - description: confirmation of the user
        in: path
        name: confirm
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
        "404":
          description: Not Found
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: update one OldLaneInfo confirmation
      tags:
      - OldLaneInfo
  /data/oldlaneinfo/score/{id}/{stageindex}/{userindex}/{arrowindex}/{score}:
    put:
      consumes:
      - application/json
      description: Put one OldLaneInfo score by index and id
      parameters:
      - description: OldLaneInfo ID
        in: path
        name: id
        required: true
        type: string
      - description: OldLaneInfo stage index
        in: path
        name: stageindex
        required: true
        type: string
      - description: OldLaneInfo user index of the stage
        in: path
        name: userindex
        required: true
        type: string
      - description: OldLaneInfo arrow index of the user
        in: path
        name: arrowindex
        required: true
        type: string
      - description: score of the arrow
        in: path
        name: score
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
        "404":
          description: Not Found
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: update one OldLaneInfo Score
      tags:
      - OldLaneInfo
  /data/oldlaneinfo/whole/{id}:
    put:
      consumes:
      - application/json
      description: Put whole new OldLaneInfo and overwrite with the id
      parameters:
      - description: OldLaneInfo ID
        in: path
        name: id
        required: true
        type: string
      - description: LaneData
        in: body
        name: LaneData
        required: true
        schema:
          type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
        "404":
          description: Not Found
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: update one OldLaneInfo
      tags:
      - OldLaneInfo
  /data/qualification/{id}:
    get:
      description: Get one Qualification by id
      parameters:
      - description: Qualification ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
      summary: Show one Qualification
      tags:
      - Qualification
  /data/qualification/whole/{id}:
    put:
      consumes:
      - application/json
      description: Put whole new Qualification and overwrite with the id, but cannot
        replace groupid
      parameters:
      - description: Qualification ID
        in: path
        name: id
        required: true
        type: string
      - description: Qualification
        in: body
        name: Qualification
        required: true
        schema:
          type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
        "404":
          description: Not Found
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: update one Qualification
      tags:
      - Qualification
  /swagger/doc.json:
    get:
      description: get Api docs in json
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: Show Api Docs in json
      tags:
      - docs
  /views/home:
    get:
      description: show home page
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: Show home page
      tags:
      - views
swagger: "2.0"
